package components

templ Main() {
<!DOCTYPE html>
<html lang="en" class="m-0 p-0">

<head>
	<title>Todo</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="witdh=device-width, initial-scale=1" />
	<link rel="stylesheet" href="static/tailwind.css" />
</head>

<body class="text-sm leading-6 bg-gray-50 text-gray-900 min-w-60 max-w-xl m-auto">
	<h1>Hello World</h1>
</body>

</html>
}
